extends layout

block content

  h2 Detalle obra

  p
    strong ID:
    | #{job.id}

  p
    strong Nombre:
    | #{job.name}

  p
    strong Ubicación:
    | #{job.location}
  
  p
    strong Director:
    | #{job.director}

  br
  a(href="/jobs/view" class="btn") Volver 
  a(href=`/budgets/${job.id}/view` class="btn") Ver presupuestos

  br
