extends layout

block content
  .index-container
    if query.success
    p.flash(style="color: green; font-weight: bold; transition: opacity 0.5s;")
      | ✅ Obra creada correctamente

    script.
      setTimeout(() => {
        const msg = document.querySelector('.flash');
        if (msg) {
          msg.style.opacity = '0';
          setTimeout(() => msg.remove(), 500);
        }
      }, 2500);
    br
    h2 Lista de obras
    .table-wrapper
      table
        thead
          tr
            th ID
            th Nombre
            th Ubicación
            th Director
            th Estado
            th Fecha de inicio
            th Fecha estimada de fin
            th
        tbody
          each job in jobs
            tr
              td= job.id
              td= job.name
              td= job.location
              td= job.director
              td= job.status
              td= job.startDate
              td= job.estimateEndDate
              td
                a(href=`/jobs/view/${job.id}`) Ver